In [1]:
num={1,2,3,4,5}
print(num)

{1, 2, 3, 4, 5}

In [5]:
emptyset={}
print(emptyset)
print(type(emptyset))
emptyset=set()
print(type(emptyset))

{}
<class 'dict'>
<class 'set'>

In [6]:
set1={1,2,"hi",1.23}
print(set1)

{'hi', 1, 2, 1.23}

In [8]:
my_set=set()
my_set.update([9,12])
my_set.update((3,5))
my_set.update("hi")
my_set.update(("good","morning"))
print(my_set)

{3, 5, 9, 12, 'h', 'i', 'good', 'morning'}

In [9]:
my_set.discard(12)
print(my_set)

{3, 5, 9, 'h', 'i', 'good', 'morning'}

In [11]:
set1=set("apple")
print('a' in set1)
print('b' in set1)

True
False

In [12]:
data="welcome to india"
set2=set(data)

print("Number of unique characters : ",len(set2))
print("List of unique characters : ",set2)

data=list(data)
for ele in set2:
    data.remove(ele)
    
print("Repeated Characters : ",set(data))

Number of unique characters :  12
List of unique characters :  {'o', 't', 'n', 'a', 'w', 'e', 'd', 'c', 'i', 'm', ' ', 'l'}
Repeated Characters :  {'e', 'o', 'i', ' '}

In [13]:
A={1,2,3,4,5}
B={4,5,6,7,8}

print('Union = ', A|B)
print('Intersection = ',A&B)
print('Difference = ',A-B)
print('Symmetric Difference = ',A^B)

Union =  {1, 2, 3, 4, 5, 6, 7, 8}
Intersection =  {4, 5}
Difference =  {1, 2, 3}
Symmetric Difference =  {1, 2, 3, 6, 7, 8}

In [15]:
students={'anu','manu','gita','subbu','vini','tom','pia','lohi'}
placed={'subbu','lohi','tom'}

not_placed=set(students)-set(placed)
print("Students yet to get job : ",not_placed)

Students yet to get job :  {'anu', 'gita', 'vini', 'manu', 'pia'}

In [17]:
bat=['virat','rohit','dhawan','dhoni','pandya','jadeja']
bowl=['bhuvaneswar','shami','pandya','jadeja','kuldeep']

all=set(bat)&set(bowl)

print('Batsmen : ',set(bat))
print('Bowlers : ',set(bowl))
print('All rounders : ',all)

Batsmen :  {'jadeja', 'pandya', 'rohit', 'virat', 'dhoni', 'dhawan'}
Bowlers :  {'bhuvaneswar', 'jadeja', 'pandya', 'kuldeep', 'shami'}
All rounders :  {'pandya', 'jadeja'}

In [18]:
tcs=['uma','danish','amrutha']
infosys=['lohita','danish','aswathi']
wipro=['sangeetha','jaison','prasad','amrutha']

placed=set(tcs)|set(infosys)|set(wipro)
print(placed)
print('Number of people placed : ',len(placed))

{'uma', 'jaison', 'prasad', 'aswathi', 'sangeetha', 'danish', 'lohita', 'amrutha'}
Number of people placed :  8

In [19]:
numbers={1,2,3,4,5,6,7,8,9,10}
odd={1,3,5,7,9}
even={2,4,6,8,10}

print(odd.isdisjoint(even))
print(numbers.issuperset(odd))
print(odd.issuperset(numbers))
print(odd.issubset(numbers))

True
True
False
True